<header>
    <div class="header-container">
        <div class="logo">Portal El Barón</div>
        <nav>
            <ul>
                <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
                <li><a routerLink="/noticias" routerLinkActive="active">Noticias</a></li>
                <li><a routerLink="/tecnologia" routerLinkActive="active">Tecnología</a></li>
                <li><a routerLink="/deportes" routerLinkActive="active">Deportes</a></li>
            </ul>
        </nav>
    </div>
</header>
